.App {
  text-align: center;
  display: -webkit-inline-box;
  width: 100%;
  position: relative;
  min-height: 100vh;
}

.wrapper {
  width: 80%;
}

.Sidebar {
  width: 20%;
  background-color: #3498db;
}

.Sidebar ul {
  margin-top: 35%;
}

.Header {
  padding-bottom: 2.5rem;
  background-color: #bdc3c7;
}

.Content {
  padding-bottom: 2.5rem;
}

.Footer {
  position: absolute;
  bottom: 0;
  width: 80%;
  height: 2.5rem;
  background-color: #bdc3c7;
}

.section {
  color: white;
}

.section:hover {
  cursor: pointer;
}
